body {
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left,rgb(244, 199, 55), rgb(250, 55, 55));
}

button {
  cursor: pointer;
}